<!-- app/views/lists/new.html.erb -->

<h1>Add a list with a selection of movies using simple form</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Go back to homepage", lists_path %>
